body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #5ab5ff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 600px;
    height: 200px;
    background-color: #f08080;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    border-radius: 30px;
    box-shadow: black 8px 8px;
}

h1 {
    font-size: 128px;
    font-size: 72px;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg,yellow,rgb(0, 255, 0), blue, rgb(255, 0, 255), red);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0 10px;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    border:40px red solid;
    border-radius: 40px;
}

.square {
    background-color: black;
    padding: 0;
    margin: 0;
}

.hover {
    background-color: orange;
}