body {
    font-family: 'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #80f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.square {
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}

.hover {
    background-color: orange;
}

button {
    width: 600px;
    height: 200px;
    background-color: #f08080;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    border-radius: 30px;
    box-shadow: black 8px 8px;
}